<div class="loader-container">
  <div class="loader-text">Carregando</div>
  <div class="loader">
    <div class="loader-item"></div>
    <div class="loader-item"></div>
    <div class="loader-item"></div>
  </div>
</div>