<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/css/main/loader.css">
  <link rel="stylesheet" href="/css/main/global.css">
  {{#if post}}
    <title>{{post.title}}</title>
  {{else}}
    <title>Blog</title>
  {{/if}}
</head>
<body onload="onload()">
  {{> _loader}}

  {{> _navbar}}
  
  {{{body}}}
  <script src="/js/bootstrap/bootstrap.js"></script>
  <script src="/js/main/index.js"></script>
</body>
</html>