<section class="container mt-5">
  {{#if erro}}
  <div class="alert alert-danger" role="alert">
    {{erro}}
  </div>
  {{/if}}
  <h3>Crie sua conta hoje: </h3>
  <div class="card">
    <div class="card-body">
      <form action="/registrar" method="POST">
        <label for="nome">Nome: </label>
        <input type="text" name="username" class="form-control" required>
        <label for="email">Email: </label>
        <input type="email" name="email" class="form-control" required>
        <label for="senha">Senha: </label>
        <input type="password" name="password" class="form-control" required>
        <button type="submit" class="btn btn-success mt-4">Criar conta</button>
        <button type="button" class="btn btn-danger mt-4"><a href="/">Voltar</a></button>
      </form>
    </div>
  </div>
</section>