<section class="container mt-5">
  {{#if erro}}
  <div class="alert alert-danger" role="alert">
    {{erro}}
  </div>
  {{/if}}

  {{#if message}}
  <div class="alert alert-success" role="alert">
    {{message}}
  </div>
  {{/if}}
  <h3>Editar categoria</h3>
  <div class="card">
    <div class="card-body">
      <form action="/admin/categoria/editar/{{category.id}}" method="POST">
        <label for="email">Nome: </label>
        <input type="text" value="{{category.name}}" name="name" class="form-control mt-1" required>
        <button type="submit" class="btn btn-success mt-4">Editar</button>
        <button type="button" class="btn btn-danger mt-4"><a href="/">Voltar</a></button>
      </form>
      </form>
    </div>
  </div>
</section>