<div class="container mt-4">
  <h2>Lista de postagens: </h2>
  <hr>
  <a href="/admin/postagens/add"><button class="btn btn-success">Nova postagem</button></a>
  <div class="card mt-4">
    <div class="card-body">
      <h4>ghost-app</h4>
      <p>Descrição: um bot para discord para diverti seu servidor</p>
      <small>data: Fri Feb 26 2021 22:13:24 GMT+0000 (Coordinated Universal Time)</small><br>
      <small>Categoria: javascript</small><br>
      <a href="/admin/postagens/edit/60397284808bf10017e95529"><button class="btn btn-success mt-3">Editar
          postagem</button></a>
      <a href="/admin/postagens/deletar/60397284808bf10017e95529"><button class="btn btn-danger mt-3">Deletar
          postagem</button></a>
    </div>
  </div>
</div>